#ignore .vscode folder
.vscode/



#ignore this folder and cache files
__pycache__
*.pyc

src/df_leagueStandings-851103743612141568.pkl
src/df_playerPlayground-851103743612141568.pkl

#ignore programming testing playground
playground.py